@use 'sass:map';

@import '../utils/screen';
@import '../utils/if';
@import '../utils/breakpoints';

@mixin common-classes($size: '') {
  $postfix: if($size != '', -#{$size}, '');

  @include screen($size) {
    .display-none#{$postfix} {
      display: none;
    }

    .display-block#{$postfix} {
      display: block;
    }

    .display-inline-block#{$postfix} {
      display: inline-block;
    }

    .display-grid#{$postfix} {
      display: grid;
    }

    .text-left#{$postfix} {
      text-align: left;
    }

    .text-center#{$postfix} {
      text-align: center
    }

    .text-right#{$postfix} {
      text-align: right;
    }

    .relative#{$postfix} {
      position: relative;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

@mixin common-classes-all-breakpoints() {
  @include common-classes();

  @each $breakpoint in map.keys($breakpoints) {
    @include common-classes($breakpoint);
  }
}

@include common-classes-all-breakpoints();
