@use 'sass:map';

@import '../utils/screen';
@import '../utils/if';
@import '../variables/breakpoints';

@mixin flex-classes($size: '') {
  $postfix: if($size != '', -#{$size}, '');

  @include screen($size) {
    .display-flex#{$postfix} {
      display: flex;
    }

    .flex-column#{$postfix} {
      flex-direction: column;
    }

    .justify-center#{$postfix} {
      justify-content: center;
    }

    .justify-around#{$postfix} {
      justify-content: space-around;
    }

    .justify-between#{$postfix} {
      justify-content: space-between;
    }

    .justify-end#{$postfix} {
      justify-content: flex-end;
    }

    .align-items-center#{$postfix} {
      align-items: center;
    }

    .align-items-start#{$postfix} {
      align-items: flex-start;
    }

    .align-items-end#{$postfix} {
      align-items: flex-end;
    }

    .flex-grow-1#{$postfix} {
      flex-grow: 1;
    }

    .flex-wrap#{$postfix} {
      flex-wrap: wrap;
    }
  }
}

@mixin flex-classes-all-breakpoints() {
  @include flex-classes();

  @each $breakpoint in map.keys($breakpoints) {
    @include flex-classes($breakpoint);
  }
}

@include flex-classes-all-breakpoints();
