@use 'sass:map';

@mixin font-faces($font-family, $subsets, $styles, $weights) {
  @each $subset in map-keys($subsets) {
    @each $style in $styles {
      @each $weight in $weights {
        @font-face {
          font-family: '#{$font-family}';
          font-style: $style;
          font-weight: $weight;
          font-display: swap;
          src: url('../../assets/fonts/#{$font-family}/subsets/#{$subset}-#{$style}-#{$weight}.woff2') format('woff2');
          unicode-range: unquote(map.get($subsets, $subset));
        }
      }
    }
  }
}
