@use 'sass:map';

@import '../utils/screen';
@import '../utils/if';
@import '../utils/breakpoints';

@mixin space($px, $size: '') {
  @include space-m($px, $size);
  @include space-p($px, $size);
}

@mixin space-m($px, $size: '') {
  $postfix: if($size != '', -#{$size}, '');

  @include screen($size) {
    .m#{$postfix}-#{$px} {
      margin: #{$px}px;
    }
  }

  @include space-m-h($px, $size);
  @include space-m-v($px, $size);
}

@mixin space-m-h($px, $size: '') {
  $postfix: if($size != '', -#{$size}, '');

  @include screen($size) {
    .ml#{$postfix}-#{$px} {
      margin-left: #{$px}px;
    }

    .mr#{$postfix}-#{$px} {
      margin-right: #{$px}px;
    }

    .mh#{$postfix}-#{$px} {
      margin: {
        left: #{$px}px;
        right: #{$px}px;
      }
    }
  }
}

@mixin space-m-v($px, $size: '') {
  $postfix: if($size != '', -#{$size}, '');

  @include screen($size) {
    .mt#{$postfix}-#{$px} {
      margin-top: #{$px}px;
    }

    .mb#{$postfix}-#{$px} {
      margin-bottom: #{$px}px;
    }

    .mv#{$postfix}-#{$px} {
      margin: {
        top: #{$px}px;
        bottom: #{$px}px;
      }
    }
  }
}

@mixin space-p($px, $size: '') {
  @include space-p-h($px, $size);
  @include space-p-v($px, $size);

  $postfix: if($size != '', -#{$size}, '');

  @include screen($size) {
    .p#{$postfix}-#{$px} {
      padding: #{$px}px;
    }
  }
}

@mixin space-p-h($px, $size: '') {
  $postfix: if($size != '', -#{$size}, '');

  @include screen($size) {
    .pl#{$postfix}-#{$px} {
      padding-left: #{$px}px;
    }

    .pr#{$postfix}-#{$px} {
      padding-right: #{$px}px;
    }

    .ph#{$postfix}-#{$px} {
      padding: {
        left: #{$px}px;
        right: #{$px}px;
      }
    }
  }
}

@mixin space-p-v($px, $size: '') {
  $postfix: if($size != '', -#{$size}, '');

  @include screen($size) {
    .pt#{$postfix}-#{$px} {
      padding-top: #{$px}px;
    }

    .pb#{$postfix}-#{$px} {
      padding-bottom: #{$px}px;
    }

    .pv#{$postfix}-#{$px} {
      padding: {
        top: #{$px}px;
        bottom: #{$px}px;
      }
    }
  }
}
